table {
  margin: 0 auto;
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.btn-update {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.btn-delete {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}
