<%- include('../layouts/header', { title }) -%>

<header>
  <h1><%= title %></h1>
  <nav>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
  </nav>
</header>

<script src="/js/index.js"></script>

<%- include('../layouts/footer') -%>
