<%- include('../layouts/header', { title }) -%>

<h1><%= title %></h1>

<a href="/users">Regresar</a>

<form method="post" action="/users/<%= user.id %>">
  <div>
    <label>Name:
      <input type="text" name="name" value="<%= user.name %>" required>
    </label>
  </div>
  <div>
    <label>Age:
      <input type="number" name="age" value="<%= user.age %>" required>
    </label>
  </div>
  <input type="submit" value="Save">
</form>

<%- include('../layouts/footer') -%>
