<%- include('../layouts/header', { title }) -%>

<header>
  <h1><%= title %></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/new">Crear usuario</a></li>
    </ul>
  </nav>
</header>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Modificar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><a class="btn-update" href="/users/<%= user.id %>/edit">Modificar</a></td>
        <td><a class="btn-delete" href="/users/<%= user.id %>">Eliminar</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../layouts/footer') -%>
