<%- include('../layouts/header', { title }) -%>

<h1><%= title %></h1>

<a href="/posts">Regresar</a>

<form method="post" action="/posts/<%= post.id %>">
  <div>
    <label>Title:
      <input type="text" name="title" value="<%= post.title %>" required>
    </label>
  </div>
  <div>
    <label>Body:
      <textarea name="body" required><%= post.body %></textarea>
    </label>
  </div>
  <input type="submit" value="Save">
</form>

<%- include('../layouts/footer') -%>
