<%- include('../layouts/header', { title }) -%>

<header>
  <h1><%= title %></h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/new">Crear post</a></li>
    </ul>
  </nav>
</header>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Modificar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% posts.forEach(post => { %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><a class="btn-update" href="/posts/<%= post.id %>/edit">Modificar</a></td>
        <td><a class="btn-delete" href="/posts/<%= post.id %>">Eliminar</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../layouts/footer') -%>
