<%- include('../layouts/header', { title }) -%>

<h1><%= title %></h1>

<a href="/posts">Regresar</a>

<form method="post" action="/posts">
  <div>
    <label>Title:
      <input type="text" name="title" required>
    </label>
  </div>
  <div>
    <label>Body:
      <textarea name="body" required></textarea>
    </label>
  </div>
  <input type="submit" value="Save">
</form>

<%- include('../layouts/footer') -%>
